@import './../../public/scss/app';

.menu-product {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__list {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__item {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: auto;

      .menu-item {
        display: flex;
        flex-direction: row;
        background-color: #ffffff;
        padding: 10px 12px;
        padding-bottom: 0;

        &:last-child {
          .menu-item__details {
            border-bottom: 0;
          }
        }

        &__details {
          display: flex;
          flex-direction: column;
          flex: 1;
          //border-bottom: 0.5px solid #AFAFAF;
          padding-bottom: 10px;

          &__ingredient {
            color: #908E8E;
            font: {
              size: 14px;
            }
            margin: 8px 0;
            width: 70%;
            float: left;
          }

          &__price {
            color: #525252;
            font: {
              size: 13px;
              family: $font-family-rupee;
            }
            float: right;
          }

          &__name {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            &__detail {
              flex: 1;
              color: #474747;
              font: {
                size: 16px;
              }
              line-height: 1.5;

              img {
                margin-right: 5px;
              }
            }
          }

          &__customisable {
            color: #AAAFAA;
            font: {
              size: 10px;
            }

            span {
              margin-right: 3px;
            }
          }
        }
      }
    }
  }
}



.quantity-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;

  &__add,
  &__sub {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__sub {
    border: 2px solid #9a9f9a;
    color: #9a9f9a;

    span {
      position: relative;
      top: -1px;
    }
  }

  &__add {
    border: 2px solid #3fb02e;
    color: #3fb02e;
  }

  &__number {
    margin: 0 10px;
  }
}


.table-no-pop-up {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(#000000, 0.78);
  display: flex;
  align-items: center;
  justify-content: center;

  &__form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 25px;
    width: 300px;
    border-radius: 2px;
    box-shadow: 0px 6px 18px 0px rgba(#000, 0.5);

    &__table-no {
      width: 100px;
    }


    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

    label {
      text-transform: uppercase;
      font: {
        size: 12px;
      }
      color: #969696;
      line-height: 18px;
      margin-bottom: 5px;
    }

    input[type="text"],
    textarea {
      border: 1px solid #c2c2c2;
      height: 40px;
      border-radius: 2px;
      font: {
        size: 14px;
        weight: 400;
      };
      padding: 0 5px;
    }

    textarea {
      resize: vertical;
    }

    button {
      padding: 10px 25px;
      font: {
        size: 15px;
        weight: 500;
      }
      border: 0;
      text-transform: uppercase;
      cursor: pointer;
    }

    .confirm {
      background-color: #48ae41;
      color: #ffffff;
      text-transform: uppercase;
      border: 1px solid #48ae41;
      border-radius: 2px;
      box-shadow: 1px 2px 1px 0px rgba(#000, 0.2);
      min-height: 38px;
      min-width: 128px;
    }

    .close {
      text-transform: uppercase;
      color: #969696;
      background-color: #ffffff;
    }

    &__button {
      text-align: right;
    }
  }

}