@import './../../public/scss/app';

.row {
  display: flex;
  flex-direction: row;
}

.notification-red {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #ed6666;
  border: 4px solid rgba(255, 153, 153, 0.78);
  border-radius: 50%;
}

button,
.button {
  border: 0;
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
  line-height: 1;
  outline: 0;

  &--success {
    background-color: #48ae41;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);

    &:hover {
      background-color: #3a9035;
    }
  }

  &--medium {
    color: #ffffff;
    font: {
      size: 15px;
      weight: 500;
    };
    padding: 12px 14px 10px 14px;
  }
}

.live-orders {
  padding: 34px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &__new-orders,
  &__bill-requested {
    display: flex;
    flex-direction: column;
    width: 428px;
    margin: 0 10px;
  
    &__head {
      font-size: 18px;
      font-weight: 500;
      color: #76818c;
      display: inline-block;
      margin: 0;
      margin-bottom: 12px;
    }
  }
}
