.veg-nonveg {
  padding: 6px;

  &__icon {
    background-color: #e41525;
    display: block;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    position: relative;
    top: 3px;

    &--veg {
      background-color: #48ae41;
    }
  }
}