.veg-nonveg {
  padding: 6px;

  &__icon {
    background-color: #e41525;
    display: block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: relative;
    //top: -2px;

    &--veg {
      background-color: #48ae41;
    }
  }
}