@import './../../public/scss/app';

.login-page {
  display: flex;
  flex-direction: row;
  align-item: center;
  justify-content: center;
  margin-bottom: 80px;
  font-family: $font-family-circular;
  background-color: #e2eaf2;
  margin: 0;
  padding: 0;

  &__circle {
    position: absolute;
    bottom: -50%;
    left: -45%;
    width: 331.8px;
    height: 331.8px;
    border-radius: 50%;
    background-color: #c9dbeb;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
      position: relative;
      top: 82px;
      width: 218px;
    }
  }

  &__wrapper {
    position: relative;
    top: 35px;
    width: 480px;
  }


  &__form {
    position: relative;
    padding: 25px 36px;
    background-color: #ffffff;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 12px 23px 0 rgba(0, 0, 0, 0.12);
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 4;


    &__head {
      font-family: $font-family-circular;
      font-size: 32px;
      font-weight: normal;
      color: #555555;
      margin: 0;
      margin-bottom: 35px;
      line-height: 1;
    }

    .form-group {
      margin-bottom: 30px;
    }

    form label{
      font-size: 15px;
      font-weight: normal;
      color: #2e2e2e;
      margin-bottom: 5px;
      float: left;
      line-height: 1;
    }

    form input {
      width: 100%;
      height: 50px;
      border-radius: 4px;
      background-color: #ffffff;
      border: solid 2px #dedede;
      padding: 0 10px;
    }

    button {
      width: 208px;
      height: 50px;
      border-radius: 2px;
      background-color: #48ae41;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24), inset 0 -1px 1px 0 rgba(0, 0, 0, 0.12);
      border: 0;
      font-size: 18px;
      font-weight: bold;
      color: #ffffff;
      float: right;
      cursor: pointer;
    }

  }
}
