@import './../../public/scss/app';

.header-div {
    padding: 25px;
    h3 {
      color: #ffffff;
      text-align: center;
      font: {
        size: 18px;
        weight: 500;
      }
      margin: 0;

    }

    p {
      color: #ffffff;
      text-align: center;
      font: {
        size: 12px;
        weight: 400;
      }
      margin: 0;
      margin-top: 4px;
    }

  }