@import './../../public/scss/app';

.order-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.order-card {
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  width: 95%;

  &__header {
    background-color: #f2f6fa;
    border-bottom: 1px solid #d1dce9;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;

    &__time {
      color: #a8bacc;
      font: {
        size: 15px;
      };
      line-height: 1;
    }

    &__table-number {
      color: #1d1f20;
      font: {
        size: 18px;
      };
      line-height: 1;
      flex: 1;
    }
  }

  &__body {
    padding: 25px 20px;

    &__items {
      width: 100%;

      .extra {
        color: #a8bacc;
        font: {
          size: 12px;
        }
      }
      
      td {
        padding: 7px;
        color: #000000;
        font: {
          size: 14px;
        };
      }

      .price {
        white-space: nowrap;
        vertical-align: top;
        .price-symbol {
          font: {
            family: $font-family-rupee;
          };
        }
      }

      .quantity {
        vertical-align: top;
        white-space: nowrap;
      }

      .label-customized {
        margin-top: 10px;
        span {
          background-color: #e7e7e7;
          border-radius: 3px;
          color: #696969;
          display: inline-block;
          font: {
            size: 12px;
            weight: 400;
          };
          line-height: 1;
          padding: 6px 22px;
        }
      }

      tfoot {
        td {
          border-top: 1px solid #a8bacc;
        }
      }
    }
    
    &__add-more {
      text-align: center;
      margin-bottom: 15px;
      a {
        color: #e78452;
        font: {
          size: 14px;
          weight: 400;
        }
        text-align: center;
        text-decoration: none;
      }
    }

    .action {
      border: 0.5px solid #cecece;
      border-radius: 2px;
      box-shadow: 0px 0 2px 0 rgba(#000000, .32);
      display: flex;
      flex-direction: row;


      &__payment {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px;

        font: {
          size: 12px;
        }

        &__mode {
          cursor: pointer;
          display: inline-flex;

          .checkbox {
            display: block;
            margin-right: 5px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: #d8d8d8;

            &.check {
              background-color: #48ae41;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }

      &__request {
        padding: 10px;
        overflow: hidden;
        flex: 1;
        background-color: #48ae41;
        color: #ffffff;
        cursor: pointer;
        text-align: center;
        font: {
          size: 15px;
          weight: 500;
        }

      }
    }

    &__confirm-order {
      button {
        padding: 10px;
        overflow: hidden;
        background-color: #48ae41;
        color: #ffffff;
        cursor: pointer;
        text-align: center;
        font: {
          size: 15px;
          weight: 500;
        }
        width: 100%;
      }
    }

  }
}

.bill-requested {
  background-color: #F9F6DC;
  border-radius: 2px;
  color: #86804a;
  font: {
    size: 14px;
  }
  line-height: 1;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
  white-space: nowrap;

  img {
    margin-right: 8px;
  }
}

.order-card__req {
  text-align: center;
}